:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: 100%;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10%;
  background-color: #000000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 100;
}

header input {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  width: 60%;
  border-radius: 20px;
}

header input::placeholder {
  color: #aaa;
}

header a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #282828;
  transition: background-color 0.3s ease;
}

header a:hover {
  background-color: #1DB954;
}

.sidebar {
  position: fixed;
  top: 10%;
  height: 100%;
  width: 15%;
  min-width: 200px;
  background-color: #000000;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
}

.sidebar h3,
.sidebar ul li {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.sidebar ul li:hover {
  background-color: #282828;
}

.sidebar ul li span {
  margin-left: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #1DB954;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #1ed760;
}

.main-content {
  width: calc(100% - 15%);
  margin: 5% auto 0 15%; /* Centrar en la pantalla */
  padding: 20px;
  flex-grow: 1;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas por defecto */
  gap: 20px;
}

.grid-item {
  background-color: #282828;
  color: white;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  font-size: 1.25rem;
  font-weight: bold;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.grid-item:hover {
  background-color: #333;
  transform: scale(1.05);
}


.equalizer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 40px;
  height: 100px;
}

.equalizer-bar {
  width: 10px;
  margin: 0 5px;
  background-color: #1DB954;
  animation: bounce 1s infinite ease-in-out;
}

.equalizer-bar:nth-child(1) {
  height: 50%;
  animation-delay: 0s;
}

.equalizer-bar:nth-child(2) {
  height: 75%;
  animation-delay: 0.1s;
}

.equalizer-bar:nth-child(3) {
  height: 60%;
  animation-delay: 0.2s;
}

.equalizer-bar:nth-child(4) {
  height: 90%;
  animation-delay: 0.3s;
}

.equalizer-bar:nth-child(5) {
  height: 65%;
  animation-delay: 0.4s;
}

.equalizer-bar:nth-child(6) {
  height: 80%;
  animation-delay: 0.5s;
}

.equalizer-bar:nth-child(7) {
  height: 55%;
  animation-delay: 0.6s;
}

@keyframes bounce {

  0%,
  100% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(1.5);
  }
}

.login-split-container,
.register-split-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url('https://blog.symphoniclatino.com/wp-content/uploads/2019/05/Fotolia_45452813_Subscription_Monthly_L21.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(5px);
}


.login-form-container,
.register-form-container {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 400px;
}

.login-form,
.register-form {
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
  font-size: 1rem;
  margin-top: 10px;
}

.form-control::placeholder {
  color: #aaa;
}

.is-invalid {
  border: 2px solid #E91E63;
}

.error-message {
  color: #E91E63;
  margin-top: 5px;
  font-size: 0.9rem;
}

.btn-submit {
  width: 100%;
  padding: 10px;
  background-color: #1DB954;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: #1ed760;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@media (min-width: 300px) and (max-width: 600px) {

  body{
    display: block;
  }

  header {
    position: relative;
    display: block;
    margin: 0;
    font-size: 0.7rem;
    width: 100%;
  }

  header .btn{
    margin-left: 15%;
  }

  header input {
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .sidebar {
    position: relative;
    margin: 0;
    width: 100%;
  }

  .sidebar h3,
.sidebar ul li {
  margin-bottom: 5%;
  font-size: 0.8rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 1%;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  align-items: center;
}

.sidebar ul li span {
  margin-left: 10px;
}

button {
  padding: 5%;
  background-color: #1DB954;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

  .main-content {
    position: relative;
    margin: 0 auto;
  }

  .main-content h2{
    font-size: 1rem;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .grid-item {
    padding: 5%;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
}

}

@media (min-width: 601px) and (max-width: 1023px) {

  header {
    position: relative;
    display: flex;
    margin: 0;
    font-size: 0.7rem;
    width: 100%;
  }

  header .btn{
    width: 10px;
  }

  header input {
    margin-left: 0;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .main-content {
    width: calc(100% - 30%);
    margin: 5% auto 0 30%; /* Centrar en la pantalla */
    padding: 20px;
    flex-grow: 1;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (min-width: 1024px) and (max-width: 1370px) {
  header {
    position: relative;
    display: flex;
    margin: 0;
    font-size: 0.7rem;
    width: 100%;
  }

  header .btn{
    width: 10px;
  }

  header input {
    margin-left: 0;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .main-content {
    width: calc(100% - 20%);
    margin: 5% auto 0 20%; /* Centrar en la pantalla */
    padding: 20px;
    flex-grow: 1;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}